<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Money{% endblock %}</title>
</head>

<body>
    <div id="header"><h1>Money :: {{ title }}</h1></div>
    <div id="sidebar">
        <h3>Navigation</h3>
        {% block sidebar %}
        <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{% url admin:index %}">Admin</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>
</body>
</html>